ul.games-list {
	display: flex;
	box-sizing: border-box;
	margin: 1rem 0;
	padding: 0 1rem;
	flex-wrap: wrap;
}

ul.games-list > p {
	text-align: center;
	width: 100%;
	margin: 3rem 0;
}

ul.games-list li {
	box-sizing: border-box;
	width: 49%;
	margin-top: 2%;
	background: #d6d6d6;
}

ul.games-list li a {
	position: relative;
	display: block;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	padding: 1.5rem;
}

ul.games-list li a p {
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 100%;
	margin: 0;
	padding-bottom: .2rem;
	transform: translateX(-50%);
	text-align: center;
	color: #fff;
	text-shadow: 0 0 2px #24292e;
}

ul.games-list li:nth-child(odd) {
	margin-right: 2%;
}

ul.games-list li:before {
	float: left;
	padding-top: 100%;
	content: '';
}

@media (min-width: 801px) {
	ul.games-list li {
		width: 23.5%;
	}

	ul.games-list li:not(:nth-child(4n)) {
		margin-right: 2%;
	}
}

@media (min-width: 1025px) {
	ul.games-list {
		display: block;
		width: 80%;
		margin: 0 auto;
		padding: 0 2rem;
	}

	ul.games-list li {
		display: inline-block;
	}
}
